/v3
/v3b
/epoch0_phrase1.wav
/epoch0_phrase2.wav
/epoch0_phrase3.wav
/epoch0_phrase4.wav
/epoch0_phrase5.wav
/epoch1_phrase1.wav
/epoch1_phrase2.wav
/epoch1_phrase3.wav
/epoch1_phrase4.wav
/epoch1_phrase5.wav
/epoch2_phrase1.wav
/epoch2_phrase2.wav
/epoch2_phrase3.wav
/epoch2_phrase4.wav
/epoch2_phrase5.wav
/epoch3_phrase1.wav
/epoch3_phrase2.wav
/epoch3_phrase3.wav
/epoch3_phrase4.wav
/epoch3_phrase5.wav
